.addbutton {
  background-color: #0e1d38;
  color: white;
  padding: 9px;
  border-radius: 8px;
  padding-inline: 18px;
  cursor: pointer;
  border: none;
  margin-right: 10em;
  margin-top: 1em;
  position: relative;
}
.addbutton:hover {
  opacity: 80%;
}
